server:
    port: ${DIV_DOCUMENT_GENERATOR_PORT:4007}

service:
    pdf-service:
        uri: ${PDF_SERVICE_BASEURL:http://localhost:5500}/pdfs
        health:
            uri: ${PDF_SERVICE_BASEURL:http://localhost:5500}/health
    evidence-management-client-api:
        uri: ${EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL:http://localhost:4006}/emclientapi/version/1/upload
        health:
            context-path: ${EVIDENCE_MANAGEMENT_CLIENT_API_HEALTH_ENDPOINT:/health}
            uri: ${EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL:http://localhost:4006}${service.evidence-management-client-api.health.context-path}
    service-auth-provider:
        health:
            context-path: /health
            uri: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://localhost:4502}${service.service-auth-provider.health.context-path}

auth:
    provider:
        service:
            client:
                port: 4502
                baseUrl: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://localhost:4502}
                tokenTimeToLiveInSeconds: 900

idam:
    s2s-auth:
        microservice: ${AUTH_PROVIDER_SERVICE_CLIENT_MICROSERVICE:sscs}
        totp_secret: ${AUTH_PROVIDER_SERVICE_CLIENT_KEY:AAAAAAAAAAAAAAAA}
        url: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://localhost:4502}

http:
    connect:
        timeout: 60000
        request:
            timeout: 60000

health:
    check:
        http:
            connect:
                timeout: 5000
                request:
                    timeout: 5000

info:
    app:
        name: ${spring.application.name}

pdf:
    test:
        enabled: false

document:
    templates:
        configurationList:
            -   templateName: aosinvitation
                filename: AOSInvitation.pdf
                document-generator: pdfgenerator
            -   templateName: aosinvitation-rep-resp-journey
                filename: AOSInvitation.pdf
                document-generator: pdfgenerator
            -   templateName: co-respondentinvitation
                filename: CoRespondentInvitation.pdf
                document-generator: pdfgenerator
            -   templateName: co-respondent-answers
                filename: CoRespondentAnswers.pdf
                document-generator: pdfgenerator
            -   templateName: divorceminipetition
                filename: DivorcePetition.pdf
                document-generator: pdfgenerator
            -   templateName: divorcedraftminipetition
                filename: DraftDivorcePetition.pdf
                document-generator: pdfgenerator
            -   templateName: FL-DIV-GNO-ENG-00020.docx
                filename: CertificateOfEntitlement.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00021.docx
                filename: DecreeNisiPronouncement.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-ENG-00060.docx
                filename: CostsOrder.pdf
                document-generator: docmosis
            -   templateName: respondentAnswers
                filename: RespondentAnswers.pdf
                document-generator: pdfgenerator
            -   templateName: FL-DIV-GNO-ENG-00059.docx
                filename: CaseListForPronouncement.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GOR-ENG-00062.docx
                filename: DecreeAbsolute.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00022.docx
                filename: DecreeNisiAnswers.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00075.doc
                filename: AOSOfflineInvitationLetterRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00076.doc
                filename: AOSOfflineInvitationLetterCoRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00073.docx
                filename: SolicitorPersonalService.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-ENG-00080.docx
                filename: AOSOffline2YearSeparationForm.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-ENG-00081.docx
                filename: AOSOffline5YearSeparationForm.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-ENG-00082.docx
                filename: AOSOfflineBehaviourDesertionForm.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-ENG-00083.docx
                filename: AOSOfflineAdulteryFormRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-ENG-00084.docx
                filename: AOSOfflineAdulteryFormCoRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-ENG-00088.docx
                filename: DecreeNisiClarificationOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-ENG-00098.docx
                filename: DecreeNisiRefusalOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00357.docx
                filename: DecreeNisiGrantedForRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GOR-ENG-00355.docx
                filename: DecreeAbsoluteGrantedLetter.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GOR-ENG-00353.docx
                filename: DecreeAbsoluteGrantedCoverLetterForRespondentSolicitor.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00356.docx
                filename: DecreeNisiGrantedCoverLetterForRespondentSolicitor.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00358A.docx
                filename: CostOrderCoverLetterForCoRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00360.docx
                filename: CertificateOfEntitlementCoverLetterForRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00370.docx
                filename: CertificateOfEntitlementCoverLetterForRespondentSolicitor.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00423.docx
                filename: CostOrderLetterForCoRespondentSolicitor.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00447.docx
                filename: CoECoRespondentSolicitorCoverLetter.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00449.docx
                filename: CoECoverLetterForCoRespondent.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-WEL-00247.docx
                filename: AOSOffline5YearSeparationFormWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-WEL-00246.docx
                filename: AOSOffline2YearSeparationFormWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-WEL-00248.docx
                filename: AOSOfflineBehaviourDesertionFormWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-WEL-00249.docx
                filename: AOSOfflineAdulteryFormRespondentWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-WEL-00250.docx
                filename: AOSOfflineAdulteryFormCoRespondentWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-WEL-00240.docx
                filename: CostsOrderWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-WEL-00251.docx
                filename: DecreeNisiClarificationOrderWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-WEL-00252.docx
                filename: DecreeNisiRefusalOrderWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-WEL-00238.docx
                filename: CertificateOfEntitlementWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-WEL-00239.docx
                filename: DecreeNisiPronouncementWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-APP-WEL-00253.docx
                filename: DecreeNisiAnswersWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-WEL-00241.docx
                filename: CaseListForPronouncementWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-WEL-00245.docx
                filename: SolicitorPersonalServiceWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GOR-WEL-00242.docx
                filename: DecreeAbsoluteWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-WEL-00243.docx
                filename: AOSOfflineInvitationLetterRespondentWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-WEL-00244.docx
                filename: AOSOfflineInvitationLetterCoRespondentWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-WEL-00256.docx
                filename: DivorcePetitionWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-WEL-00257.docx
                filename: AOSInvitationWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-WEL-00258.docx
                filename: CoRespondentAnswersWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-WEL-00259.docx
                filename: CoRespondentInvitationWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-WEL-00260.docx
                filename: RespondentAnswersWelsh.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-ENG-00531.docx
                filename: OrderToDispense.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-DEC-ENG-00534.docx
                filename: DeemedServiceOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00533.docx
                filename: DeemedServiceRefusalOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00535.docx
                filename: DispensedServiceRefusalOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00537.odt
                filename: AosOverdueCoverLetter.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GOR-ENG-00572.docx
                filename: GeneralOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-LET-ENG-00561.docx
                filename: GeneralLetter.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00594.docx
                filename: BailiffServiceRefusalOrder.pdf
                document-generator: docmosis
            -   templateName: FL-DIV-GNO-ENG-00595.docx
                filename: BailiffCertificateOfService.pdf
                document-generator: docmosis
    pdf:
        familyCourtImgKey: "familycourt"
        familyCourtImgVal: "[userImage:familycourt.png]"
        hmctsImgKey: "hmcts"
        hmctsImgVal: "[userImage:hmcts.png]"
        displayTemplateKey: "displayTemplateOnly"
        displayTemplateVal: "1"

template:
  relation:
    english:
      "male": "husband"
      "female": "wife"
    welsh:
      "male": "gŵr"
      "female": "gwraig"
      "husband": "gŵr"
      "wife": "gwraig"
  months:
    welsh:
      1: "Ionawr"
      2: "Chwefror"
      3: "Mawrth"
      4: "Ebrill"
      5: "Mai"
      6: "Mehefin"
      7: "Gorffennaf"
      8: "Awst"
      9: "Medi"
      10: "Hydref"
      11: "Tachwedd"
      12: "Rhagfyr"

service-auth-provider:
    service:
        stub:
            enabled: false

evidence-management-api:
    service:
        stub:
            enabled: false

documentation:
    swagger:
        enabled: true

spring:
    application:
        name: "div-dgs"
    resources:
        static-locations:

# GENERAL SPRING BOOT ACTUATOR CONFIG
# Context path for Spring Boot Actuator endpoints
# Allow actuator endpoints to be accessed without requiring authentication
# Enable default health indicators
# Enable disk space health check
# HEALTH ENDPOINT CONFIG
# Enable the health endpoint
# Enable sensitive health information
# Defines the URL of the health check to ${management.context-path}/health
# Caching period in milliseconds of health endpoint
# METRICS ENDPOINT CONFIG
# Enable the metrics endpoint
# Enable sensitive metrics information
management:
    endpoint:
        health:
            show-details: "ALWAYS"
            cache:
                time-to-live: 5000
    endpoints:
        web:
            base-path: /
            path-mapping:
                health: health
            exposure:
                include: info, health, metrics

logging:
    level:
        org.springframework.web: ERROR
        uk.gov.hmcts.reform.divorce.documentgenerator: DEBUG
    pattern:
        console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"

azure:
    app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:false}

docmosis:
    service:
        pdf-service:
            accessKey: ${DOCMOSIS_SERVICE_ACCESS_KEY:23432}
            renderEndpoint: "/rs/render"
            uri: ${DOCMOSIS_SERVICE_BASE_URL:http://localhost:5501}${docmosis.service.pdf-service.renderEndpoint}
            devMode: ${DOCMOSIS_SERVICE_DEV_MODE_FLAG:false}

feature-toggle:
    toggle:
        feature_resp_solicitor_details: ${FEATURE_RESP_SOLICITOR_DETAILS:true}
