server:
  port: ${DIV_DOCUMENT_GENERATOR_PORT:4007}

service:
  pdf-service:
    uri: ${PDF_SERVICE_BASEURL:http://cmc-pdf-service-aat.service.core-compute-aat.internal}/pdfs
    health:
      uri: ${PDF_SERVICE_BASEURL:http://cmc-pdf-service-aat.service.core-compute-aat.internal}/health
  evidence-management-client-api:
    uri: ${EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL:http://div-emca-aat.service.core-compute-aat.internal}/emclientapi/version/1/upload
    health:
      context-path: ${EVIDENCE_MANAGEMENT_CLIENT_API_HEALTH_ENDPOINT:/health}
      uri: ${EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL:http://div-emca-aat.service.core-compute-aat.internal}${service.evidence-management-client-api.health.context-path}
  service-auth-provider:
    health:
      context-path: /health
      uri: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}${service.service-auth-provider.health.context-path}

auth:
  provider:
    service:
      client:
          port: 4502
          baseUrl: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
          tokenTimeToLiveInSeconds: 900

idam:
  s2s-auth:
    microservice: ${AUTH_PROVIDER_SERVICE_CLIENT_MICROSERVICE:divorce_document_generator}
    totp_secret: ${AUTH_PROVIDER_SERVICE_CLIENT_KEY:replace_me}
    url: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}

http:
  connect:
    timeout: 60000
    request:
      timeout: 60000

health:
    check:
        http:
            connect:
                timeout: 5000
                request:
                    timeout: 5000

info:
  app:
    name: ${spring.application.name}

pdf:
  test:
    enabled: true

service-auth-provider:
  service:
    stub:
      enabled: false

evidence-management-api:
  service:
    stub:
      enabled: false

documentation:
  swagger:
    enabled: true

spring:
  application:
    name: "div-dgs"
  resources:
    static-locations:

# GENERAL SPRING BOOT ACTUATOR CONFIG
# Context path for Spring Boot Actuator endpoints
# Allow actuator endpoints to be accessed without requiring authentication
# Enable default health indicators
# Enable disk space health check
# HEALTH ENDPOINT CONFIG
# Enable the health endpoint
# Enable sensitive health information
# Defines the URL of the health check to ${management.context-path}/health
# Caching period in milliseconds of health endpoint
# METRICS ENDPOINT CONFIG
# Enable the metrics endpoint
# Enable sensitive metrics information
management:
  endpoint:
    health:
      show-details: "ALWAYS"
      cache:
        time-to-live: 5000
  endpoints:
    web:
      base-path: /
      path-mapping:
        health: health
      exposure:
        include: info, health, metrics

logging:
  level:
    org.springframework.web: ERROR
    uk.gov.hmcts.reform.divorce.documentgenerator: DEBUG
  pattern:
    console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:false}
