service:
  pdf-service:
    uri: ${PDF_SERVICE_BASEURL:http://cmc-pdf-service-aat.service.core-compute-aat.internal}/pdfs
    health:
      uri: ${PDF_SERVICE_BASEURL:http://cmc-pdf-service-aat.service.core-compute-aat.internal}/health
  evidence-management-client-api:
    uri: ${EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL:http://div-emca-aat.service.core-compute-aat.internal}/emclientapi/version/1/upload
    health:
      context-path: ${EVIDENCE_MANAGEMENT_CLIENT_API_HEALTH_ENDPOINT:/health}
      uri: ${EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL:http://div-emca-aat.service.core-compute-aat.internal}${service.evidence-management-client-api.health.context-path}
  service-auth-provider:
    health:
      context-path: /health
      uri: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}${service.service-auth-provider.health.context-path}

auth:
  provider:
    service:
      client:
          baseUrl: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}

idam:
  s2s-auth:
    microservice: ${AUTH_PROVIDER_SERVICE_CLIENT_MICROSERVICE:divorce_document_generator}
    totp_secret: ${AUTH_PROVIDER_SERVICE_CLIENT_KEY:replace_me}
    url: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://rpe-service-auth-provider-aat.service.core-compute-aat.internal}
