java:
    applicationPort: 4007
    aadIdentityName: divorce
    ingressHost: "div-dgs-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    autoscaling:
      enabled: true
      maxReplicas: 4
      targetCPUUtilizationPercentage: 80 # Default is 80% target CPU utilization
    environment:
        AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
        EVIDENCE_MANAGEMENT_CLIENT_API_BASEURL: "http://div-emca-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
        IDAM_S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
        PDF_SERVICE_BASEURL: "http://cmc-pdf-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
        DOCMOSIS_SERVICE_BASE_URL: "https://docmosis.aat.platform.hmcts.net"
        REFORM_SERVICE_NAME: "dgs"
        REFORM_TEAM: "div"
        AUTH_PROVIDER_SERVICE_CLIENT_MICROSERVICE: "divorce_document_generator"
        AUTH_PROVIDER_SERVICE_CLIENT_TOKENTIMETOLIVEINSECONDS: "900"
        EVIDENCE_MANAGEMENT_CLIENT_API_HEALTH_ENDPOINT: "/health"
    aadIdentityName: divorce
    keyVaults:
        "div":
            resourceGroup: div
            secrets:
                - div-doc-s2s-auth-secret
                - docmosis-api-key
                - AppInsightsInstrumentationKey
                - app-insights-connection-string
